<h1>New book</h1>
<div style="width: 30%">
  <form style="display: flex; flex-direction: column">
    <label name="name">Name</label>
    <input id="name" />
    <label name="page">Number of page</label>
    <input id="page" />
    <label name="image">Upload image</label>
    <input type="file" id="image" />

    <button style="width: 1/3; margin-top: 12px">Create book</button>
  </form>
</div>

<a href="/" style="margin-top: 12px">Back</a>
